@charset "utf-8";

/* CSS Document */

.logo_font{

}
.NAV {
	width: 1920px;
	height: 1080px;
	position: absolute;
	left: 50%;
	margin: 0px -960px;
}

.NAV1 {
	width: 100%;
	height: 100%;
	position: absolute
}

.NAV2 {
	background: rgba(39, 39, 39, 0.3);
	
	width: 1920px;
	height: 300px;
	position: absolute;
	overflow: hidden
}

.NAV2 img {
	width: 1920px;
	height: 1080px;
	position: relative;
	top: 100px;
	overflow: hidden
}