@charset "utf-8";

/* CSS Document */

* {
	margin: 0px 0px;
	text-decoration: none;
	list-style: none;
	font-family: "Microsoft YaHei UI Light", "微软雅黑";
}

body {
	background: rgb(222, 222, 222);
}

#a {
	background: rgba(39, 39, 39, 0.7);
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0px;
	z-index: 10
}

#a div {
	float: left
}

#b {
	width: 300px;
	height: 100%;
	color: #FFF;
	position: absolute;
	left: 0px;
}

#b div {
	float: left;
}

#c {
	width: 38px;
	height: 38px;
	border: 3px solid #54DD92;
	border-radius: 50%;
	position: relative;
	left: 40px;
	top: 10px;
	font-size: 22px;
	text-align: center;
	font-weight: 900
}

#cs{ color:#00b398 !important; border-bottom:3px solid #00b398 !important}

#c1 {
	position: relative;
	left: 45px;
	top: 25px;
}

#b1 {
	width: 600px;
	height: 100%;
	position: absolute;
	right: 0px
}

#b1 a:hover {
	color: #bffff5;
	border-bottom: 3px solid #54DD92
}

#b1 li {
	float: left;
	color: #FFF;
	position: relative;
	right: 100px;
	top: 25px;
	margin: 0px 15px;
}

#b1 a {
	color: #FFF
}

.copyrighrt {
	position: fixed;
	margin: 0 auto;
	left: 50%;
	width: 550px;
	margin-left: -275px;
	margin-bottom: 8px;
	bottom: 0px;
}


#foot {
	background: #343434;
	width: 100%;
	height: 35px;
	position: fixed;
	bottom: 0px;
	color: #FFF
}

#foot div {
	float: left
}

#foot2 {
	height: 100%;
	width: 600px;
	position: absolute;
	right: 0px;
}
#foot1{ width:600px;height:100%; position:absolute;left:0px; }
#foot1 li{float:left;}
#foot1 img{width:30px; height:30px;margin:0px 5px;}
#foot1 li:hover{ background:#000}
#foot1 li:hover #FO{ display:block}
#foot1S{width:200px;height:100%;float:left; position:relative;left:15px;}
#foot1S img{width:100px; height:100px;margin:50px 50px; border-radius:50% 50%;}
#foot1SP{width:300px;height:100%;float:left;position: relative;right:0px; padding:100px 0px;}
#foot1SP li{list-style: disc !important; float:none}

#foot2 li {
	float: left;
	color: #b4aca9;
	position: relative;
	left: 150px;
	bottom: 0px;
	margin: 10px 6px;
	font-size: 14px
}

#foot2 a:hover {
	color: #bffff5
}

#FO {
	width: 500px;
	height: 300px;
	background: rgba(36, 36, 36, 0.7);
	position: fixed;
	bottom: 35px;
	left: 20px;
	display: none;
}

.logo_font{

}
.NAV {
	width: 1920px;
	height: 1080px;
	position: absolute;
	left: 50%;
	margin: 0px -960px;
}

.NAV1 {
	width: 100%;
	height: 100%;
	position: absolute
}

.NAV2 {
	background: rgba(39, 39, 39, 0.4);
	width: 1920px;
	height: 1080px;
	position: absolute;
	overflow: hidden
}

.NAV2 img {
	width: 1920px;
	height: 1080px;
	position: relative;
	top: 100px;
	overflow: hidden
}