body {
	scroll="no" style="overflow-x:hidden;overflow-y:scroll ;"
}

* {
	margin: 0px 0px;
	text-decoration: none;
	list-style: none;
}

body {
	background: rgb(242, 242, 242);
}

*:not(#logo_font) {
	font-family: "Microsoft YaHei UI Light", "微软雅黑";
}

#a {
	background: rgba(39, 39, 39, 0.7);
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0px;
	z-index: 10
}

#a div {
	float: left
}

#b {
	width: 300px;
	height: 100%;
	color: #FFF;
	position: absolute;
	left: 0px;
}

#b div {
	float: left;
}

#c {
	width: 38px;
	height: 38px;
	border: 3px solid #54DD92;
	border-radius: 50%;
	position: relative;
	left: 40px;
	top: 10px;
	font-size: 22px;
	text-align: center;
	font-weight: 900;
	font-family: "楷体";
}

#cs {
	color: #00b398 !important;
	border-bottom: 3px solid #00b398 !important
}

#c1 {
	position: relative;
	left: 45px;
	top: 25px;
}

#b1 {
	width: 740px;
	height: 100%;
	position: absolute;
	right: 0px
}
#b1 ul {
    display: flex;
    position: absolute;
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#b1 a:hover {
	color: #bffff5;
	border-bottom: 3px solid #54DD92
}


#b1 li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 100%;
    border-bottom: 4px solid #000;
    transition: 0.2s all linear;
}

#b1 li {
    position: relative;
    padding: 20px;
    font-size: 24px;
    color: #000;
    line-height: 1;
    transition: 0.2s all linear;
    cursor: pointer;
}
#b1 li:hover::before {
    width: 100%;
    top: 0;
    left: 0;
    transition-delay: 0.1s;
    border-bottom-color: #000;
    z-index: -1;
}
#b1 li:hover ~ li::before {
    left: 0;
}
#b1 li:active {
    background: #000;
    color: #fff;
}
#b1 a {
	color: #FFF
}



/*
老版样式备份
#a {
	background: rgba(39, 39, 39, 0.7);
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0px;
	z-index: 10
}

#a div {
	float: left
}

#b {
	width: 300px;
	height: 100%;
	color: #FFF;
	position: absolute;
	left: 0px;
}

#b div {
	float: left;
}

#c {
	width: 38px;
	height: 38px;
	border: 3px solid #54DD92;
	border-radius: 50%;
	position: relative;
	left: 40px;
	top: 10px;
	font-size: 22px;
	text-align: center;
	font-weight: 900;
	font-family: "楷体";
}

#cs {
	color: #00b398 !important;
	border-bottom: 3px solid #00b398 !important
}

#c1 {
	position: relative;
	left: 45px;
	top: 25px;
}

#b1 {
	width: 740px;
	height: 100%;
	position: absolute;
	right: 0px
}

#b1 a:hover {
	color: #bffff5;
	border-bottom: 3px solid #54DD92
}


#b1 li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 100%;
    border-bottom: 3px solid #54DD92;
    transition: 0.3s all linear;
}
#b1 li {
	float: left;
	color: #54DD92;
	position: relative;
	right: 100px;
	top: 25px;
	margin: 0px 15px;
	line-height: 1;
	transition: 0.2s all linear;
    cursor: pointer;
}
#b1 li:hover::before {
    width: 100%;
    top: 0;
    left: 0;
    transition-delay: 0.1s;
    border-bottom-color: #000;
    z-index: -1;
}
#b1 li:hover ~ #b1 li::before:not(#time) {
    left: 0;
}
#b1 li:active {
    background: #FFF;
    color: #fff;
}
#b1 a {
	color: #FFF
}*/