#foot{ background:#343434; width:100% !important; height:35px; position: fixed !important; bottom:0px; color:#FFF; z-index:10}
#foot div{ float:left}
#foot1{ width:600px;height:100%; position:absolute;left:0px; }
#foot1 li{float:left;}
#foot1 img{width:30px; height:30px;margin:0px 5px;}
#foot1 li:hover{ background:#000}
#foot2{ height:100%; width:600px; position:absolute;right:0px;}
#foot2 ul li a{color:#b4aca9}

#foot2 li{float:left; color:#b4aca9; position: relative;left:175px;bottom:0px; margin:10px 6px; font-size:14px}
#foot2 a:hover{ color:#bffff5}
#FO{ width:500px; height:300px; background:rgba(36,36,36,0.7); position:fixed !important;bottom:35px;left:20px !important; display:none;}
#foot1 li:hover #FO{ display:block}
#foot1S{width:200px;height:100%;float:left; position:relative;left:0px !important;}
#foot1S img{width:100px; height:100px;margin:50px 50px; border-radius:50% 50%;}
#foot1SP{width:300px;height:100%;float:left;position: relative;right:0px; padding:100px 0px !important;}
#foot1SP li{list-style: disc !important; float:none !important}


.copyright {
	position: fixed;
	margin: 0 auto;
	left: 50%;
	width: 700px;
	margin-left: -275px;
	margin-bottom: 8px;
	bottom: 0px;
}