@charset "utf-8";



.zusak{width:100%; height:100%; position:relative}
.zusak1{width:1920px;height:1080px; position: absolute;left:50%;margin-left:-960px;}
.a2{ background:rgba(39,39,39,0.4);width:1920px;height:1080px; position:absolute;top:0px;overflow:hidden;}
.B7{width:1300px; height:700px; position: absolute;top:110px;left:50%;margin-left:-650px; background:rgba(39,39,39,0.4);}
.B7 div{ float:left;  }
.ps{width:1920px; height:1080px; display:block; background-image:url(../images/back1.png); background-repeat:no-repeat;}
.BL1{ width:780px; height:100%;}
.BL2{width:520px; height:100%;}
.BL1L1{width:80%;height:80%; position: relative;top:10%;left:10%;}
.BL1L1 li{ position:relative;top:0px; color:#f2f2f2;}
.BL1L2{width:600px; height:100px;margin:10px 30px; position:relative;left:0px;}
.BL1L2 img{width:100px; height:100px; float:left; position:relative;left:0px;}
.BL1L3{ width:100%; height:40px;}
.Z1{width:50%; height:100%; position:relative;left:0xp;top:0px}
.Z1 li{font-weight:lighter;font-size:26px;color: #E7E7E7;margin:3px;}
.Z2{width:50%; height:100%; position:relative;right:0xp;top:0px;}
.Z2 li{font-size:23px;font-weight:lighter;color:#E8E8E8 ;margin:4.5px;}
.BL2 img{ width:400px; height::400px; position:relative;left:40px;top:120px;}


